#nav-sidebar {
    position: relative;
    background-color: #254D70;
}

#nav-H1 {
    position: relative;
    color: #ffffff;
}

.active-status {
    position: relative;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #5CB338;
}

.active-status:hover{
    position: relative;
    color: #ffffff;
    background-color: #5CB338;
}

#logo-global-lintas {
    position: relative;
    background-image: url('/admin/assets/img/logo/logo.png');
}

#filter-employee{
    position: relative;
    float: right;
}

#filter-attendanceSummary{
    position: relative;
    float: right;
}